*{
  margin: 0px;
  padding: 0;
}
body {
  background-color: #E0F4F5;
}
.header{
  min-height:100vh:
  width:100%;
  background-image:url(image/z1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
  .box{
    background-color: #FFDB00;
    border-style: solid;
    border-color: #FFDB00;
    border: 10px 10px 10px 10px;
    padding: -25px;
  }
  /* The Modal (background) */
.button {
  background-color: #34E8E8
  border-style: solid;

}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
nav{
  display: flex;
  padding: 55% 30%
  justify-content: space-between;
  align-items: center;
}
.nav img{
  width: 150px;
}
.nav-links{
  flex: 1;
  text-align: left;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: #FA5E5E;
  text-decoration: none;
  font-size: 13px
}
.nav-links ul il::after{
  content:'';
  width: 0%;
  height: 2px;
  background:#051345;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
form{
  text-align: right;
}
.text-box{
  width: 100%;
  color: #000000;
  position: absolute;
  top: 30%
  left: 50%
  transform: translate( -50%, -50%);
  text-align: center;
}
.text-box h1{
  font-size: 100px;
  color: #FA5E5E;
}
.text-box p{
  margin: 50px 0 40px;
  font-size: 14px;
  color: #000000
}
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #000000;
  border: 1px solid #000000
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover{
  border: 1px solid #FFFF00;
  background: ##FFFF00;
  transition: 1s;
  font-size: 20px;
}

@media(max-width: 700px){
  .text-bot h1{
    font-size: 20px;
  }
  .nav-links ul li{
    display: block;
  }
  .nav-links{
    position: absolute;
    background: #f44336
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
  }
